<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar Artigo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
  <form [formGroup]="form">
  <ion-item>
    <ion-label position="floating">Nome do Artigo</ion-label>
    <ion-input
      type="text"
      formControlName="nomeArtigo"       
    ></ion-input>
  </ion-item>
<ion-item>
  <ion-label position="floating">Nome do(s) Autor(es)</ion-label>
  <ion-input type="text"
             formControlName = "nomeAutor"                             
  ></ion-input>
</ion-item>
    <ion-item>
      <ion-label> O artigo enviado se encontra de acordo com as normas da ABNT</ion-label>
      <ion-checkbox type="boolean" color="dark" checked="false" formControlName="abnt"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> O artigo enviado não possui nenhum tipo de plagio e ao enviar você</ion-label>
      <ion-checkbox type="boolean"color="dark" checked="false" formControlName="plagio"></ion-checkbox>
    </ion-item>
    <ion-button
            color="primary"               
            expand="block"
            (click)="onEnviarArtigo()"
            [disabled]="!form.valid"
            > Enviar</ion-button>
         
  </form>
</ion-content>
